terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

files/elasticsearch/certificates/*.crt
files/elasticsearch/certificates/*.csr
files/elasticsearch/certificates/*.key
files/elasticsearch/license/*.json

files/logstash/certificates/*.crt
files/logstash/certificates/*.csr
files/logstash/certificates/*.key

files/logstash/pipelines/*.j2

ssh/keys/*.pem
ssh/bastion.config
roles
